.btn-add{
	background-color: white;
	font-size: 18px;
	color: white;
	padding: 5px 8px;
	border-radius: 5px;
	float: right;
	margin: 40px 0;
	box-shadow: 0 0 10px #ccc;
	display: block;
}
.btn-add:hover{
	font-weight: bold;
	border: 1px solid #45a049;
}

.btn-add__svg--add{
	fill: #45a049;
	margin-top: 5px;
}
@media (max-width: 748px) {
	.btn-add{
		font-size: 12px;
		padding: 5px 10px;
		margin: 20px 0;
	}
}
