.btn-add{
	background-color: #4CAF50;
	font-size: 18px;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	float: right;
	margin: 40px 0;
	box-shadow: 0 0 10px #ccc;
	display: block;
}
.btn-add:hover{
	background-color: #45a049;
	font-weight: bold;
	border: 1px solid white ;
}

@media (max-width: 748px) {
	.btn-add{
		font-size: 12px;
		padding: 5px 10px;
		margin: 20px 0;
	}
}
